img{
    width: 120px;
    object-fit: contain;
    padding: 2px;
}

.navbar{
    height:80px;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc;
}
ul{
    display: flex;
}
li{
list-style: none;
padding: 1px 15px;
}
a{
    text-decoration: none;
    /* color: black; */
    font-size: 18px;
}