.signup{
    background-image: url('https://t3.ftcdn.net/jpg/06/01/32/90/240_F_601329032_fxU2OXkpBVt1dWmdElOOttEJd3rIaR8X.jpg');
    background-size:contain;
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .form{
        background-color: #fff;
        padding: 30px;
        border: 1px solid rgb(156, 23, 23);
        border-radius: 1px;
        background-color: rgb(161, 14, 22);
    }
    
    .signupLogo{
      width: 200px;
      object-fit: contain;
      padding: 10px 0px;
      
    }
    
    .loginPara{
        color: rgb(var(--f52,142,142,142),1);
        font-size: 17px;
        font-weight: 600px;
        line-height: 20px;
        margin: 0px 40px 20px 40px;
    }
    input{
        padding: 5px;
        margin: 3px 0px;
        outline: none;
        font-size: 16px;
        width: 100%;
        box-sizing: border-box;
        background-color:#ea1717a8;
        color: rgb(255, 255, 255);
    }
    ::placeholder{
        color: white;
    }
    .form>div{
        width: 80%;
        margin: auto;
    }
    
    #submit-btn{
        background-color:#ea2c17a8;
        border: none;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        padding: 5px 10px;
        width: 80%;
        cursor: pointer;
        margin-top:10px ;
    }
    .form2{
        background-color: rgb(156, 23, 23);
        color: #f4720fb8;
        padding: 30px;
        margin-top: 5px;
        border: 1px solid rgb(156, 23, 23);
        border-radius: 1px;
    }