.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite 
    }
  
  .form-container {
    background-color:rgb(249, 213, 168);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black; 
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #submit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #submit-btn:hover {
    background-color: #45a049;
  }
  
  .loginPara {
    font-size: 14px;
    margin: 3px 0px;
  }
  
  .form2 {
    margin-top: 15px;
    text-align: center;
  }
  
  
  @media (max-width: 600px) {
    .form-container {
      width: 80%;
    }
  }
  