.theater{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 17.5px;
}
.theaters-container {
    border: 1px solid #ced4da;
    border-radius: 15px; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  
  
.theater-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .card {
    border: 1px solid #ced4da;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color:rgb(249, 213, 168);
  }
  
  .card-body {
    padding: 20px;
  }
  
  .btn-primary,
  .btn-secondary {
    margin-right: 5px; 
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .mb-3 {
    margin-bottom: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .form-select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  
  .react-datepicker {
    font-family: 'Arial', sans-serif;
  }
  
  
  